div.instance_page
{
    
}

.instance_caption
{
    font-size:22px;
    display:block;
    margin-bottom:5px;
    position:relative;
}



.instance_caption span.instance_ts
{
    display:block;
    font-size:10px !important;
    font-weight:bold;
    color:#777;
    position:absolute;
    right:10px;    
    margin-top:10px;
    margin-left:5px;
}


span.instance_preview
{
    display:block;
    margin-top:10px;
}

span.instance_body
{
    display:block;
    margin-top:10px;
}

div.instance_record
{
    margin-top:10px;
    margin-bottom:20px;
}

div.home_page a.instance_caption
{
    font-size:15px;
}

div.instance_separator
{
    border-bottom:1px solid #aaa;
    margin-top:15px;
}

a.instance_link
{
 display:inline-block;
margin-bottom:5px;
}
a.instance_link:hover
{
    text-decoration: none;
}