div.forum_panel
{
    margin-bottom:15px;
}
ul.breadcrumbs{
    font-size:0.8em;
    margin:0 0 15px 5px;
    padding:0px;
    background:none;
}

table.forum_table
{
    width:100%;
    font-size:0.9em;
    border-collapse:collapse;
    border:0;
}
table.forum_table tr th
{
    background-color:#c76738;
    color:#fff;
    font-size:0.8em;
    
}
table.forum_table tr th, table.forum_table tr td
{
    padding:4px 5px;    
}
table.forum_table tr th.name
{
    width:50%;
}
table.forum_table tr th.ccount2
{
    width:10%
}
table.forum_table tr th.ccount
{
    width:5%
}
table.forum_table tr th.last_m
{
 
}

table.forum_table tr.category_2 td
{
    font-size:1.2em;
    text-align:center;
    
    background-color:#f1f1f1;
    font-weight:bold;
    color:#555;
    
}

tr.category_1 td.category_name
{
    font-weight:bold;
}

table.forum_table tr td.ccount
{
    text-align:center;
}

table.forum_table tr td
{
    padding:4px 10px;
    background-color:#eee;
    border:1px solid #ddd;
    
    
}
table.forum_table td.theme_icon 
{
    padding-right:0;
    border-right:0 !important;
}
span.theme_icon
{
    width:16px;
    display:block;
    height:16px;
}
span.icon_1
{
    background:url(images/1.png) no-repeat;
}
span.icon_4
{
    background:url(images/4.png) no-repeat;
}
span.icon_2
{
    background:url(images/closed.png) no-repeat;
}
table.forum_table td.theme_name
{
    border-left:0 !important;
}
table.forum_table tr td.noborder
{
    background:none !important;
    border:0;
    padding:0;
    text-align:left !important;
}


div.theme_view span.theme_name
{
    font-weight:bold;
    font-size:22px;
    display:block;
    margin-bottom:5px;
    padding-bottom:5px;
    border-bottom:1px solid #444488;
    padding-right:60px;
    position:relative;
    padding-left:15px;
    
}

div.theme_post {
    margin-top:20px;
}

div.theme_post div.post_stat
{
    padding-top:10px;
    float:left;
    width:20%;
    text-align:center;
}

div.theme_post div.post_message
{
    float:left;
    width:80%;
}

div.theme_post div.post_stat span.post_author
{
    display:block;
    font-weight:bold;    
}
div.theme_post div.post_stat span.post_messages
{
    color:#888;
    display:block;
    font-size:0.8em;
}
div.post_stat span.post_admin
{
    display:block;
    font-size:0.8em;
    color:#4a6a79;
    font-weight:bold;
}
span.post_ccount
{
    color:#666;
    font-weight:bold;
}

div.post_message div.post_stat_inner
{
    padding-left:5px;
    margin-left:5px;
}

div.post_message div.post_body
{
    border:1px solid #bbb;
    background-color:#f1f1f1;
    border-radius:5px;
    box-shadow:1px 1px 5px #aaa;
    padding:15px;
    min-height:60px;
    position:relative;
    color:#555;
}

div.post_body.post_administrator
{
    border:1px solid #4a6a79 !important;    
    background-color:#c1d4e3 !important;
    color:#395968 !important;
}

div.post_body.post_deleted
{
    border:1px solid #B94A48 !important;    
    background-color:#F2DEDE !important;
    color:#B94A48 !important;
}
div.post_body.post_deleted *
{
    color:#B94A48 !important;
}
div.post_body.post_administrator *
{
    color:#173746 !important;
}

div.post_body.post_administrator a
{
    color:#173746 !important;
    text-decoration:underline !important;
}


div.post_message span.post_date
{
    display:block;
    position:absolute;
    right:8px;
    top:-2px;
    font-weight:bold;
    color:#888;
    font-size:0.8em;
}
div.post_message a.post_quote
{
    display:block;
    position:absolute;
    right:5px;
    bottom:0px;
    font-weight:bold;
    color:#173746;
    font-size:0.7em;
    cursor:pointer;
    text-decoration:none !important;
}
div.post_message a.post_quote:hover
{
    text-decoration:underline !important;
}

div.forum_online
{
    margin-top:15px;
    margin-bottom:5px;
}
div.forum_online span.forum_online_header
{
    font-weight:bold;
    color:#888;
    display:inline-block;
    margin-bottom:10px;
}
div.forum_online span.forum_online_user
{
    display:inline-block;
    margin-left:10px;
}

div.post_form
{
    border-top:1px solid #999;
    padding-top:15px;
    margin:0px auto;
}
div.theme_list_name
{
    position:relative;
    
}
div.forum_pager_inline
{
    position:absolute;
    right:0px;
    bottom:0px;
    z-index:1;
}
div.forum_pager_inline div.pages-div a
{
    padding:1px 2px !important;
    font-size:0.8em;
    line-height:10px;
   
}

div.post_message div.post_body div.post_text div.quote {
    display:block;
    margin:5px 0px;
    padding:5px 10px;
    color:#666 !important;
    background-color:#f1f1f1;
    border:0px solid #999;
    border-width:1px 0px;

}
div.post_message div.post_body div.post_text div.quote_author
{
    font-weight:bold;
    margin-left:-5px;
    color:#666 !important;
}

div.ltheme
{
    margin-bottom:10px;
}

div.ltheme div.ltheme_m
{
    float:left;
    width:10%;
    text-align:right;
}
div.ltheme_m span.ltheme_m
{
    padding-right:10px;
    font-weight:bold;
    color:#888;
    display:block;
}
div.ltheme div.ltheme_r
{
    float:right;
    width:90%;
}
div.ltheme div.ltheme_r a
{
    display:block;
}
div.ltheme_r a.ltheme_r_cat
{
    color:#888;
    font-size:0.8em;
}

div.lthemes span.themes_header
{
    font-size:1.3em;
    color:#933 !important;
    padding-bottom:4px;
    margin-bottom:10px;
    display:block;
    border-bottom:1px solid #933;
    padding-left:5px;
}
div.ltheme span.theme_icon
{
    float:right;
    margin-right:10px;
    margin-top:5px;
    display:block;
}