div.survey_main
{
    margin:10px;
    
}
div.survey_header
{
    font-size:1.2em;
    margin-bottom:10px;
    text-shadow:0px 1px 3px #333;
    padding-bottom:4px;
    border-bottom:#444 solid 1px;
}
div.survey_next
{
    
}

div.survey_body
{
    padding:10px;        
}


div.variant_main
{
    margin:5px 0;
    position:relative;
}

div.variant_header_margin
{
    margin-right:20px;
    
}
div.variant_header
{
    position:relative;
}

div.variant_bar
{
    border-top:1px solid #fff;
}
div.variant_bar_percent
{
    height:14px;
    background-color:#fff;
}
div.variant_bar_number
{
    position:absolute;
    right:0;
    top:0;
}


.variant_label
{
    display:block;
    margin-left:20px
}
.variant_radio
{
    position:absolute;
    top:50%;
    margin-top:-7px !important;
    left:0;
}