div.home_page
{
    
}
div.home_page div.instance_record
{
    
    
}

span.instance_body
{
    margin:0 5px !important;
}

div.home_page_1
{
    float:left;
    width:450px;
}
div.home_page_2
{
    
    float:left;
    width:265px;
    margin-left:12px;    
    margin-bottom:15px;
}

a.last_question_header
{
    font-size:1.3em;
}