#femida_menus
{
    position:relative;
    height:40px;
    z-index:4;
    border-top:1px solid #fff;
}
#femida_menus_bg
{
    background:url(../images/menu_bg_gold.png) repeat-y;
}

.main_menu
{
    float:left;
    position:relative;
    z-index:1;    
}

.main_menu_right
{
    float:right;
    margin-right:15px;
    position:relative;
    z-index:1;
}

#femida_menus div.menu_link_div
{
    float:left;
    margin-left:15px;
    line-height:40px;
    position:relative;
    z-index:3;
    
}

#femida_menus div.menu_link_div a
{
    color:#fff;    
    font-size:1.2em;
    position:relative;
    z-index:2;
}

.left_menu
{
    position:relative;
    padding:0 5px;
    width:240px;
    border-top:1px solid #355565;
    border-left:1px solid #355565;
    border-bottom:1px solid #355565;
    box-shadow:0px 1px 5px #666;
    margin-bottom:15px;
    
}
#left_menu_bg
{
    background:url(../images/left_menu_bg_dark.png) repeat-y;
}

div.menu_link_div
{
    position:relative;
}

.left_menu div.menu_link_div
{
    
    padding:8px 0px;    
    border-bottom:1px solid #f1f1f1;
    

}

.left_menu div.menu_link_div.m_last
{

    padding:8px 0px;
    border-bottom:0px;

}

div.m_last
{
    border-bottom:0px !important;
}

.left_menu div.menu_link_div a
{
    font-size:1.1em;
    color:#fff;
    
}


div.menu_link_div a:hover
{
}

div.menu_link_childs
{
    display:none;
}

div.main_menu div.menu_link_div.lvl_1 div.menu_link_childs, div.main_menu_right div.menu_link_div.lvl_1 div.menu_link_childs
{
    position:absolute;
    top:-1px;
    left:-10px;
    padding:30px 10px 10px 10px;
    border:1px solid #355565;
    box-shadow:0px 1px 5px #666;
    z-index:1;
    width:100%;
    background-color:#df7642;
}

div.main_menu div.menu_link_div.lvl_1 div.menu_link_childs div.menu_link_div
{
    font-size:0.8em;   
}

div.main_menu div.menu_link_div.lvl_1 div.menu_link_childs div.menu_link_div
{
    line-height:normal !important;
    float:none !important;
    margin:10px 3px 3px 3px !important;
    padding:6px;
    border-bottom:1px solid #eee;
     
    
}
div.left_menu div.menu_link_div.lvl_1 div.menu_link_childs div.menu_link_div
{
    line-height:normal !important;
    float:none !important;
    margin:3px 3px 3px 3px !important;
    padding:6px;
    border-bottom:1px solid #eee;
     
    
}

div.menu_header
{
    position:relative;    
    color:#fff;
    margin-top:5px;
    font-size:1.4em;
    text-align:center;
    border-bottom:1px solid #eee;
    padding-bottom:3px;
  box-shadow:0 1px 0px #666;
}

div.surveys
{
    position:relative;    
    width:250px;
    border-top:1px solid #355565;
    border-left:1px solid #355565;
    border-bottom:1px solid #355565;
    box-shadow:0px 1px 5px #666;
    margin-top:15px !important;
    color:#fff;
}
div.surveys_bg
{
    background:url(../images/left_menu_bg_dark.png) repeat-y;
}

div.survey_header
{
    border-color:#fff !important;
}

div.survey_body
{
    position:relative;
    border-radius:3px;
    border:1px solid #355565;
    box-shadow:0px 1px 5px #666;
}
div.survey_body_bg
{
    background:url(../images/survey_body_bg.png) repeat-y;
    opacity:0.8;
}

div.surveys div.popover
{
    color:#333 !important;
    text-shadow:none;
}


div.left_menu div.menu_link_div.lvl_1 div.menu_link_childs, div.main_menu_right div.menu_link_div.lvl_1 div.menu_link_childs
{
    position:absolute;
    
    padding:3px 3px 3px 3px;
    border:1px solid #355565;
    box-shadow:0px 1px 5px #666;
    z-index:1;
    width:100%;
    background-color:#df7642;
}
