div#main_content
{
    border:1px solid #fff;
}
div#main_content_bg
{
    background:url(images/library_bg.jpg) no-repeat !important;
    background-color:#000000 !important;
}
div.library_main
{
    position:relative;
    min-height:600px;
    margin:30px 20px;
    border-radius:5px !important;
}
div.library_bg
{
    
    opacity:0.6;
    
}

div.library_header_bg {
    background-color:#fff;
    border-radius:5px;
    border:1px solid #ddd;
}

div.library_header
{
    margin:10px 0;
    padding:15px;
    position:relative;
    font-size:1.5em;
    box-shadow:1px 1px 5px #444;
}

div.navbar-inner 
{
    padding-left:5px !important;
}

li.library_home a
{
    display:block;
    width:32px;
    height:32px;
    background:url(images/library_icon.png) no-repeat;
    padding:0 !important;
    margin-top:4px;
}

div.charset
{
    background-color:#fafafa;
    margin-left:0px;
    border:1px solid #d4d4d4;
    border-radius:4px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
    width:40px;
    text-align:center;
}
div.charset a
{
    font-weight:bold;
    color:#888;
    display:block;
    padding:3px 0;
}

div.bookset
{
    position:relative;   
    padding:15px;
}
div.bookset_bg
{
    background-color:#fafafa;
    border:1px solid #d4d4d4;
    border-radius:4px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
}

div.bookset_inner
{
    float:left;
    width:850px;
    margin-left:15px;
}

div.book
{
    margin-bottom:15px;
    position:relative;
    border-bottom:1px solid #999;
    padding-bottom:5px;
}
div.book span.book_year
{
    position:absolute;
    right:5px;
    font-weight:bold;
    color:#888;
    font-size:0.8em;
    top:0px;
}
div.book span.book_price
{
    position:absolute;
    right:50px;
    font-weight:bold;
    color:#888;
    font-size:0.8em;
    top:0px;
    border-right:1px solid #999;
    padding-right:5px;
}
div.book a.book_name
{
    padding-right:120px;
    display:block;
    font-size:1.2em;
}
div.book_info 
{
    padding-right:120px;
}
span.book_info_b
{
    display:inline-block;
    margin-right:10px;
    margin-top:5px;
}
span.book_info_h
{
    color:#999;
    font-weight:bold;
    font-size:0.7em;
}
span.book_info_v
{
    font-size:0.7em;
    color:#555;
}

div.books
{
    min-height:500px;
}