#outerDivShade {
	height: 320px;
	left: 50%;
	margin-left: -235px;
	margin-top: -260px;
	min-width: 400px;
	position: absolute;
	top: 50%;
	width: 470px;
}

#outerDiv {
	height: 250px;
	margin: 5px 0 0 5px;
	padding: 20px;
	width: 338px;
}

div.auth_form_error ul li {
	color: #952424;
}
