body {margin:0;padding:0;background-color: #1a658c;background-image: url(../images/base-bg.gif);background-repeat: repeat-x;background-position: top;}
p { font-family:verdana,Arial, Helvetica, sans-serif;font-size:11px;margin-top: 0px;}
td { font-family:verdana,Arial, Helvetica, sans-serif;font-size:11px;}
a{color: #1A658C;text-decoration: underline;}
a:hover{color: #0C5282;	text-decoration: underline;}
a.hidden {text-decoration: none;color: #000000;	cursor:default;}
form {margin:0; padding:0;}
ul {
	margin-left:20px;
	margin-top:0px;
	padding:1px;
	list-style-type: square;
	line-height: 16px;
	}
h1 {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	margin: 0px;
	text-transform: uppercase;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 13px;
}
.bgy {background-repeat: repeat-y;}
.bottom_addr {
	font-size: 10px;
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 15px;
	background-image: url(../images/adr-bg.gif);
	background-repeat: no-repeat;
	background-position: top;
	text-align: center;
}
.bottom_addr a {text-decoration: none;}
.bottom_addr a:hover {text-decoration: underline;}
.bgx {background-repeat: repeat-x;}
.norepeat {background-repeat: no-repeat;}
.c_name {font-size: 20px;font-weight: normal;text-transform: uppercase;color: #004078;font-family: "verdana", Times, serif;text-align: center;padding-top: 12px;}
.bottom-menu {
	color: #FFFFFF;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #0c5282;
	border: 1px solid #FFFFFF;
}
.cbg {
	background-image: url(../images/cbg.gif);
	background-repeat: repeat-x;
	background-position: top;
	vertical-align: top;
}
.latest-ev-table {
	border: 1px solid #7fa6bc;
	margin-top: 3px;
	margin-right: 1px;
	margin-bottom: 3px;
	margin-left: 4px;
}
.le-header {
	font-weight: bold;
	color: #000000;
	text-align: left;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
}
.le-content {
	text-align: justify;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	vertical-align: top;
}
.bottom-menu a {
	color: #FFFFFF;
	text-decoration: none;
}

.bottom-menu a:hover {
	color: #C8E3EE;
	text-decoration: underline;
}

.menu {
	color: #FFFFFF;
	font-weight: bold;
	padding-right: 15px;
	padding-left: 15px;
	white-space: nowrap;
	font-family: Tahoma, Arial;
}
.menu a{
	text-decoration: none;
	color: #FFFFFF;
}

.menu a:hover {
	color: #B4DBEC;
	text-decoration: underline;
}
.slogan {
	font-family: "verdana", Times, serif;
	font-size: 13px;
	color: #004078;
	text-align: center;
	font-weight: bold;
}

.body_txt {
	color: #000000;
	text-align: justify;
	vertical-align: top;
	padding-top: 5px;
	padding-right: 6px;
	padding-bottom: 10px;
	padding-left: 13px;
}
.body_txt2 {
	color: #000000;
	text-align: justify;
	vertical-align: top;
	padding-top: 5px;
	padding-right: 13px;
	padding-bottom: 10px;
	padding-left: 6px;
}
.border-ram{
border-bottom:solid 1px #0066FF;
border-top:solid 1px #0066FF;
border-left:solid 1px #0066FF;
border-right:solid 1px #0066FF;
writing-mode: vertical-rl;
}
.border-td{
border-right:solid 1px #0066FF;
border-bottom:solid 1px #0066FF;
}
.border-tr{
border-bottom:solid 1px #0066FF;
}

input {
	width: 300px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}