section.s-banner
    .container
        .banner
            h1.banner_title Hi, It’s Théophile Seyrig
            span.banner_descr Designer from Porto, Portugal
            a(href="").banner_link Latest works